 
<!doctype html>
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
   
    <style>
        body        { padding-top:20px; }
        .modal-header{
            background-color: #0099CC;
        }
    </style>
     <script type="text/javascript">
         function displayInfo(i){
            // document.getElementById('demo').innerHTML = i;
            var val1 = document.getElementsByTagName('table')[0].rows[i].cells[0].innerHTML;
            document.getElementById('demo1').innerHTML = val1;
            var val2 = document.getElementsByTagName('table')[0].rows[i].cells[1].innerHTML;
            document.getElementById('demo2').value = val2;
            var val3 = document.getElementsByTagName('table')[0].rows[i].cells[2].innerHTML;
            document.getElementById('demo3').value = val3;
            var val4 = document.getElementsByTagName('table')[0].rows[i].cells[3].innerHTML;
            document.getElementById('demo4').value = val4;
             var val5 = document.getElementsByTagName('table')[0].rows[i].cells[4].innerHTML;
             //document.getElementById('demo').innerHTML = val5;
            //var a = document.getElementById('demo5').value;
            //document.getElementById('demo5').innerHTML = a;
            document.getElementById("demo2_2").value = val2;
            if (val5 == "Nam") {
                document.getElementById("demo5").checked = true;
                document.getElementById("demo6").checked = false;
                //document.getElementById("demo").innerHTML = "co ";
                console.log("hello");
            }else{
                document.getElementById("demo6").checked = true;
                document.getElementById("demo5").checked = false;
            }

         }

          
     </script>
</head>
<body>
<p id="demo"></p>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <h1>Welcome <%=session_name%></h1>  <a href="/logout">logout</a>
        <h1>Home Page </h1>
         <h2>Insert Student</h2>
          <form action="/insertStd" method="POST">
            <div class="form-group">
                <label for="username">UserName: </label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Enter User Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="add">Address:</label>
              <input type="text" class="form-control" name="address" id="add" placeholder="Enter Address" required>
            </div>
            <div class="form-group">
                <label>Gender:&nbsp;&nbsp; </label>
                <!-- <div class="radio"> -->
                    <label for="nam">
                        <input type="radio" name="gender" id="nam" checked="checked" value="nam">Nam &nbsp;
                    </label>
                     <label for="nu">
                        <input type="radio" name="gender" id="nu" value="nu">Nu
                    </label>
                <!-- </div> -->
               <!--  <div class="radio">
                   
                </div> -->
            </div>
            <button type="submit" class="btn btn-primary">insert student</button>
          </form>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
        
        <h2>Student Info</h2>
            
        
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>stt</th>
              <th>Username</th>
              <th>Email</th>
              <th>Address</th>
              <th>Gender</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <% var stt=0; %>
          <%if(result_Inf == false){%>
            <h2 style="color:red";>No document</h2>
          <%}else{%>
              <%for(i in result_Inf){%>
                  <%stt++%>
                  <tbody>
                    <tr>
                      <th scope="row"><%=stt%></th>
                      <td><%=result_Inf[i].username%></td>
                      <td><%=result_Inf[i].email%></td>
                      <td><%=result_Inf[i].address %></td>
                      <%
                        var gender;
                        if(result_Inf[i].gender == true){
                            gender = "Nam";
                        }else{
                            gender = "Nu";
                        }

                      %>
                      <td><%=gender%></td>
                      <td>
                          <form action="/editStd" method="POST">
                              <div class="modalEdit">
                                  
                                  <!-- Trigger the modal with a button -->
                                  <button style="" type="button" onclick="displayInfo(<%=stt%>)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon">&#x270f;</span>edit</button>
                                 
                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" role="dialog">
                                    <div style="width: 65%;" class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h2 style="margin-left: 50px;" class="modal-title col-md-offset-1">Edit info</h2>
                                        </div>
                                        <div class="modal-body">
                                            
                                             <!--  <table>
                                                  
                                              </table> -->
                                              <table class="table">
                                                  <thead class="thead-inverse">
                                                    <tr>
                                                      <th class="col-md-1">#</th>
                                                      <th>Username</th>
                                                      <th>Email</th>
                                                      <th>Address</th>
                                                      <th>Gender</th>
                                                    </tr>
                                                  </thead>
                                                  <tr>
                                                    <td>
                                                        <p id="demo1"> </p>
                                                    </td>
                                                    <td>
                                                        <input style="width: 150px" type="text" name="username_edit" id="demo2">
                                                        <input type="hidden" name="username_edit_hidden" id="demo2_2">
                                                    </td>
                                                    <td>
                                                        <input style="width: 170px" type="text" name="email_edit" id="demo3">
                                                    </td>
                                                    <td>
                                                        <input style="width: 90px" type="text" name="address_edit" id="demo4">
                                                    </td>
                                                    <td>

                                                        <input type="radio" id="demo5" name="gender" value="nam">Nam
                                                        <input type="radio" id="demo6" name="gender" value="nu">Nu
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                      
                                                  </tr>
                                                </table>
                                                <button type="submit" name="editInf" class="btn btn-success">Edit</button>
                                            
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </form>
                      </td>
                      <td>
                        <script type="text/javascript">
                           function hell(){
                                swal({
                                  title: "Are you sure?",
                                  text: "You will not be able to recover this imaginary file!",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonClass: "btn-danger",
                                  confirmButtonText: "Yes, delete it!",
                                  cancelButtonText: "No, cancel plx!",
                                  closeOnConfirm: false,
                                  closeOnCancel: false
                                },
                                function(isConfirm) {
                                  if (isConfirm) {
                                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                  } else {
                                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                                  }
                                });
                           }
                        </script>
                        <form action="/deleteStd" method="POST">
                            <input type="hidden" name="username_dele_hidden" value="<%=result_Inf[i].username%>">
                            <button type="submit" name="deleteInf"  class="btn btn-danger btn-sm">Delete</button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
              <%}%>
            <%}%>
        </table>


    </div>
    <!-- Xay dung chuc nang tim kiem -->
    <div class="col-sm-6 col-sm-offset-3">

        <h2> Search </h2>
        <form action="/searchStd" method="POST">
            <input  style="width: 70%;" type="text" name="name_search">
            <button class="btn btn-primary btn-sm" type="submit">Search </button>
        </form>

        <h2>Info</h2>
         
    </div>
</div>

</body>
</html>

